body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #f58181;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.lipstick-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.lipstick-item img {
  width: 200px; /* Atur lebar gambar menjadi 200px */
  height: auto; /* Sesuaikan tinggi gambar secara otomatis */
  object-fit: cover;
  display: block;
  margin: 10px auto;
  border: 1px solid #ccc;
}

img {
  max-width: 100%;
  height: auto;
}
